@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


.container {
    display: flex;
}

.color {
    background-color: #eff7f6;
}

* {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 16px;
}
 
::-webkit-scrollbar-track {
    background-color: #eff7f6;
}
 
::-webkit-scrollbar-thumb {
    background: #3454d1;
    border-radius: 100px;
}