.sidebar {
    flex: 1;
    height: calc(100vh - 60px);
    background-color: #3454d1;
    position: sticky;
    top: 50px;
    border-radius: 30px;
    margin-left: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sidebarWrapper {
    padding: 20px;
    color: white;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 25px;
    color: white;
    margin-bottom: 10%;
}

.sidebarList {
    list-style: none;
    padding: 5px;
    font-size: 20px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: flex-start;
    margin-bottom: 5%;
    box-shadow: inset 0 0 0 0 white;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.sidebarListItem:hover {
    color: #3454d1;
    box-shadow: inset 200px 0 0 0 white;
}

.sidebarIcon {
    margin-right: 10px;
    top: -2px;
}
