.reviewEdit{
    flex: 5;
}

#formStyle {
    max-width: 450px;
    padding: 20px 5px;
    margin: 0 auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 30px;
}