.container{
    display: flex;
}

.saleList{
    flex: 5;
}

.saleListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}


.saleListDelete{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}